@{
    ViewBag.Title = "Essay Submission Guidelines";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Essay Submission Guidelines</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Nature and Characteristics of Submissions</h3>
            <p>Your submission could be a text, a podcast or a video. Whatever it is, it must be of very good quality and follow these guidelines:</p>
            <ul>
                <li>Choose or name a field (create a drop down), but your example can certainly be transferred to other areas</li>
                <li>Describe your action or story and the context. The context matters; you may say what you do in a paragraph (one action and one context at a time).</li>
                <li>The second paragraph may describe the type of positive transformation your action has produced. If you have difficulty identifying the impact of your action, you should reconsider the action itself.</li>
                <li>The last paragraph may state words of caution in replicating your act (if any).</li>
            </ul>
            <h3>Characteristics of Essay submissions</h3>
            <ul>
                <li>Your contribution to this project is vital but could be daunting. You should write it yourself in the first person singular using “I,” or if you’re an organization or a business, you may use “we.” The writing process requires such intimacy that no one else can should it for you. If you are not sure of your writing, try to record your contribution.</li>
                <li>It must be written clearly enough for any person to understand why you had that action and to want to apply it. Share and beautifully explain the change it has brought about.</li>
                <li>You may tell a story (as we humans like to tell). Your story must be real, clear and written in language accessible to the common reader and speaker of English or French (Spanish and Portuguese will be used when personnel is available)</li>
                <li>Be concise: Your statement should be between 350 and 500 words. That’s about three minutes when read aloud at your natural pace.</li>
                <li>It must be written in such a way that the action and its impact clearly appear to the reader. It is the experience that matters. Write in a personal, vivid, and even humorous language that will connect the reader.</li>
                <li>Be positive</li>
                <li>Focus on describing, providing as many details as the number of words you can use allows you to do</li>
                <li>Be straightforward and use simple language. If you can, ask a friend to read your submission and provide feedback on language, style, punctuation, syntax before you submit it.</li>
                <li>Write in words and phrases that are comfortable for you to speak and for the reader or listener.</li>
            </ul>
        </div>
    </div>
</div>