@{
    ViewBag.Title = "History";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">History</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 wwa">
                <span name="about"></span>
                <h3>Meet Our Board of Directors!</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row team">
            <div class="col-md-4 b1">
                <img class="img-responsive" src="~/Images/NULL.png">
                <h4>Simon Akindes</h4>
                <h4>President & Executive Director, ThisIDoforChange, Inc.</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>

            <div class="col-md-4 b1">
                <img class="img-responsive" src="~/Images/NULL.png">
                <h4></h4>
                <h4>Attorney, ThisIDoforChange, Inc.</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 b1">
                <img class="img-responsive" src="~/Images/NULL.png">
                <h4></h4>
                <h4>Accountant, ThisIDoforChange, Inc.</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row team">
            <div class="col-md-4 b1">
                <img class="img-responsive" src="~/Images/NULL.png">
                <h4></h4>
                <h4>Medical Professional, ThisIDoforChange, Inc.</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 b1">
                <img class="img-responsive" src="~/Images/NULL.png">
                <h4></h4>
                <h4>Businessman, ThisIDoforChange, Inc.</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 b1">
                <img class="img-responsive" src="~/Images/Getaneh.png">
                <h4>Getaneh Woldemariam</h4>
                <h4>Developer, ThisIDoforChange, Inc.</h4>
                <ul>
                    <li><a href="https://www.facebook.com/dxngetaneh" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="https://twitter.com/getanehman" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>