@{
    ViewBag.Title = "FAQ";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                What is a IDoThisforChange essay?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
                        <div class="panel-body">
                            Our project is about telling the stories of our core values. But rather than starting with a belief statement of something you believe, start by telling a compelling story about how you came to hold an important personal belief—something that guides your daily living. Your story can illustrate a time that your belief was challenged, or how that belief shapes your daily activities. Try sharing one story about the roots of your core values, instead of composing a list of all of your beliefs. Just make sure your essay is about your own experiences, not simply an opinion about a social issue.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How long should my essay, podcast or video be?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                        <div class="panel-body">
                            Essays should be a maximum of 500 words. We recommend you have an essay written, even before you podcast or videotape. The podcast or video should be 3 to 4 minutes long.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How can I submit my essay?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseThree">
                        <div class="panel-body">
                            All our submissions must be uploaded on our website. Please, contact us if you are experiencing difficulties uploading your files.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFour" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                I can’t find my essay online. Can you help?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFour">
                        <div class="panel-body">
                            You can search for your essay on our website by following these directions. While at IDoThisforChange.org, mouse over the top header “Explore,” then scroll down and click on “Essay Search.” On this page, fill in your first name and last name in the appropriate fields. You will notice that only your first name will be seen on the web page with your essay. We do not publish last names or other personal information on our website. The only exceptions to this rule are essayists who have granted permission for use of their last name or essayists from the original 1950s series.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseFive" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                Can I fix typos in my essay after it has been published on your website?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseFive">
                        <div class="panel-body">
                            The essay, videos and podcasts you submit must be free of typos and other errors, and ready to be uploaded on our website. We may correct one or two typos, but we reserve the right not to publish any material full or errors.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseSix" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How can I remove my essay from this website?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSix">
                        <div class="panel-body">
                            Please contact us via our Contact Us page with your first and last name, title and year of your essay. We will then remove it and inform you.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseSeven" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                Can I submit my essay to other publications after I have submitted it to IDoThisforChange?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseSeven">
                        <div class="panel-body">
                            Does not own your essay and would not hold any right to it. You may publish it elsewhere with the same name. However, we ask that you inform us. If your essay were published elsewhere and owned by the other party, please do not ask us to publish it. Any legal problem will be entirely your responsibility. inform us does not own the copyright to your essay.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseEight" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                I am an community organizer and would like to use essays, videos and podcasts in my activities.
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseEight">
                        <div class="panel-body">
                            By accepting to publish your essay, podcast or video with us, you automatically accept they be used for educational purposes.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseNine" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                Where can I hear new essays?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseNine">
                        <div class="panel-body">
                            IDoThisforChange publishes essays, videos and podcast every two weeks online. They can be downloaded from the website.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseNine" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How can I contact the author of my favorite essay?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseNine">
                        <div class="panel-body">
                            Although we have information on your contributors, we do not share their personal contact information on our own. If you are a contributor and want readers or listeners to contact you, please, give notify us at the time of submission.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseNine" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How can I get a transcript of an essay?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseNine">
                        <div class="panel-body">
                            You can print transcripts of the essays from our website using your browser’s print function. All essays may be printed for personal use only. Please know that all essays on this website, as well as other materials, are protected by copyright laws. If you wish to make copies of essays beyond individual personal use, please feel free to contact our Permissions Director with details of your request. (Use Creative Commons)
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseNine" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How can I get books or audio recordings of IDoThisforChange essays?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseNine">
                        <div class="panel-body">
                            As IDoThisforChange  publishes books, videos and collections of podcasts several audio collections of essays. Please visit our Store to learn more. Your purchases help keep this website up and running.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#collapseNine" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle collapsed">
                                How can I obtain resources to bring IDoThisforChange  into my classroom, civic group, or place of worship?
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapseNine">
                        <div class="panel-body">
                            Visit our Educators and Communities  pages to learn more about the materials we have available.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>