@{
    ViewBag.Title = "Who Are We?";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Who Are We?</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>The world is changing, but not often in the ways we want it and not always for its people. We do millions of things that change our environment. We are happy when they succeed. Many of us do a lot of things that could have a multiplying and positive impact if only they were shared and known. They also fail but this does not mean that, if tried again or in other settings with a few modifications or adaptations, they will not succeed.</p>
            <p>This forum serves as a platform where ordinary and not so ordinary people, from whatever walk of life, reveal, share and exchange what they do —not what they do not do, not what they think of doing or what they believe they should do— so the places we inhabit positively change. It allows us share our actions with humility and modesty so others can apply, adapt or be inspired by them.</p>
            <p>This platform is an open and free forum for people to say, in all sincerity, what they actually do or did in their homes and families, in their communities, in their workplaces and businesses, and that they believe, has had a transformative impact.</p>
            <p>Purpose</p>
            <ul>
                <li>To provide a reservoir of real and practical acts that create change in our families, the workplaces, our communities or on bigger stages.</li>
                <li>To inspire those who want to change in one or more areas, but do not know how, do not feel confident or do not have the courage.</li>
            </ul>
            <p>
                The act or action does not have to be of gargantuan proportion, at the level of a country of a region. A small action in your family, your workplace, your association, or your school is worth sharing. Small can be very lovely.
                It is about change that is unique, original and inspirational, and that contributes to a more exciting, free and equal world where we feel good about ourselves and about each other. It could be an act or an action that goes against the grain, conventional but outdated practices or practices that serve the interests of just a few powerful.
            </p>
        </div>
    </div>
</div>