@{
    ViewBag.Title = "Become a Sponsor";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"></h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Become a Sponsor</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>ThisIdoforchange is an independent public platform that has no affiliation to any corporation, public or private. As an non-profit organization run by change-oriented citizens for common citizens, ThisIdoforchange counts on your backing, financial assistance and other forms of support for the success of its operations and idea.</p>
            <p>Individuals or organizations can sponsor of ThisIdoforchange website, podcast and video editing,  idea, and/or other initiatives. Your sponsorship may take place at different levels. If you do not want us to make public your sponsorship, we will gladly follow your wish. Otherwise, this will be done automatically.</p>
            <ol>
                <li>With your $200 sponsorship, you will support the weekly production, editing and distribution of text submissions.</li>
                <li>With your $400 sponsorship, we will support the weekly production, editing and distribution of podcast.</li>
                <li>With your $600 sponsorship, you will support the weekly production, editing and distribution of video submissions.</li>
                <li>A $800 sponsorship will help the creation of curriculum materials, flash disks, distribution of essays, videos and podcasts to newspapers, magazines, radios and televisions in the USA and other parts of the world.</li>
            </ol>
            <p>For more information, you can download this pdf document which explains the merits of becoming a ThisIdoforchange sponsor)</p>
            <p>If you are interested in sponsoring our activities, please do one of the following:</p>
            <ol>
                <li>Contribute online</li>
                <li>Contact our underwriting division and start talking to us. We will accommodate your goodwill.</li>
            </ol>
        </div>
    </div>
</div>